*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    padding: 60px 0;
    width: 90%;
    max-width: 10000px;
    margin: auto;
    overflow: hidden;
}
header{
    width: 100%;
    height: 600px;
    background: url(img/header.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center center ;
    }
.nav{
    text-align: right;
    padding: 30px 50px 0 0 ;
}
nav > a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}
.title{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 430px;
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family: 'Quintessential', cursive;
}
main{
    text-align: center;
    border-radius: 35px;
    background-color: transparent ;
    box-shadow: 0px 0px 12px rgb(80 83 90/15%);
    width: 45%;
    height: 600%;
    margin-left: 25%;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'EB Garamond', serif;
}


.formulario{
    text-align: center;
    
}


.button{
    background-color: #acdbe7;
    color: rgba(13, 15, 12, 0.973);
    border-radius: 35px;
    font-size: 15px;
    width: 200px;
    height: 40px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
    padding-left: 20px;
}
input{
    padding-left: 80px;
    margin-top: 30px;
    border-radius: 10px;
    height: 30px;
}
label{
    padding-right: 20px;
    font-size: 20px;
}
p{
    padding-top: 30px;
    font-size: 20px;
}
.style{
    font-family: 'Roboto', sans-serif;
}